.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

:root {
  --primary-color: #E02C6D;
  --secondary-color: #4ecdc4;
  --background-color: #FFFFFF;
  --body-background-color: #AAAAAA;
  --gray-text-color: #787885;
  --darker-text-color: #000000;
  --dark-text-color: #18191F;
  --stars-fill-color: #FB8200;
  --common-text-color: #3a3a3a;
  --primary-font-size: 2.5rem;
  --secondary-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --primary-font-weight: 700;
  --secondary-font-weight: 400;
  --primary-heading-font-size: 3.5rem;
  --secondary-heading-font-size: 2.5rem;
  ---tertiary-heading-font-size: 1.8rem;
  --primary-heading-font-weight: 800;
  --secondary-heading-font-weight: 600;
  --tertiary-heading-font-weight: 500;
  --button-background-color: #E02C6D;
  --button-text-color: #fff;
}



body {
  font-family: var(--primary-font-family, "Poppins"), sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  font-size: var (--secondary-font-size);
}

.logoPart {
  color: var(--primary-color);
}

.navLinks>ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: var(---tertiary-font-size)
}

.navLinks>ul>li>a {
  color: var(--dark-text-color);
  text-decoration: none;
  font-weight: var(--secondary-font-weight);
  transition: color .50s ease;
}

.navLinks>ul>li>a:hover {
  color: var(--primary-color);
}

.navLinks button{
  background: none;
  border: none;
  font-size: var(--secondary-font-size);
}

.banner{
  max-width: 1440px;
  margin: 35px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerContent{
  max-width: 100%;
  padding: 0px 80px 20px 0px;
  box-sizing: border-box;
}

.bannerContent h1 {
  font-size: var(--primary-heading-font-size);
  font-weight: var(--primary-heading-font-weight);
  color: var(--dark-text-color);
}

.bannerContent p {
  font-size: var(--normal-font-size);
  font-weight: var(--secondary-font-weight);
  color: var(--common-text-color);
  margin-top: 10px;
}

.bannerContent button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: var(--secondary-font-size);
  cursor: pointer;
}

.bannerContent button:hover {
  background-color: var(--button-text-color);
  color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
}


.bannerImage{
  max-width: 100%;
  height: auto;
}

.mainCamera{
  position: relative;
}

.circle{
  position: absolute;
}


/* sponsors Style section */
.brands{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 70px;
  background-color: var(--button-text-color);
  padding: 20px;
  border-top: 1px dotted var(--gray-text-color);
  border-bottom: 1px dotted var(--gray-text-color);
}

/* Products cart section */

.cartSection {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  gap: 20px;
}

.cartSection h2 {
  font-size: var(--secondary-heading-font-size);
  font-weight: var(--secondary-heading-font-weight);
  color: var(--dark-text-color);
  margin-bottom: 20px;
}

.cartContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.cartItem {
  background-color: var(--background-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: start;
}

.stars-and-ratings{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}



.stars{
  color: var(--stars-fill-color);
}

.ratings{
  color:var(--dark-text-color)
}

/* ********************************************************************* */
/* **************************media Query section**************************/
/* ********************************************************************* */

/* small devices */

@media screen and (max-width: 576px) {

  /* navBar section */
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navLinks>ul{
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  /* banner section */
  .banner {
    flex-direction: column;
    align-items: center;
    flex-flow: column-reverse;
  }

  .bannerContent {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .bannerContent h1 {
    text-align: center;
    font-size: var(--primary-font-size);
  }

  .bannerContent p {
    text-align: center;
    font-size: var(--normal-font-size);
  }

  .bannerContent button {
    font-size: var(--normal-font-size);
    padding: 10px 15px;
    margin-bottom: 30px;
  }

  .bannerImage {
    max-width: 100%;
    height: auto;
    margin: 60px auto;
    padding: 0;
  }

  .mainCamera {
    position: relative;
    width: 100%;
    height: auto;
  }

  .circle {
    position: absolute;
    width: 90%;
    height: auto;
    overflow: hidden;
  }


  /* product curt section */
  .cartContainer {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0;
  }
  
}

/* mid device */

@media screen and (min-width:576px) and (max-width: 768px){
  /* navBar section */
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    font-size: var(--secondary-heading-font-size);
  }

  .navLinks>ul {
    padding: 0;
    margin: 0;
  }

  /* banner section */
  .banner {
    column-gap: 20px;
    
  }

  .bannerContent {
    max-width:calc(50% - 20px);
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: start;
  }

  .bannerContent h1 {
    font-size: var(--secondary-heading-font-size);
  }

  .bannerContent p {
    font-size: var(--normal-font-size);
    text-align: start
  }

  .bannerContent button {
    font-size: var(--normal-font-size);
    padding: 10px 15px;
    margin-bottom: 30px;
  }

  .bannerImage {
    max-width: calc(100% - 50px);
    height: auto;
    padding: auto;
    margin: 0 auto;
    overflow: hidden;
  }

  .mainCamera {
    position: relative;
    width: 100%;
    height: auto;
  }

  .circle {
    position: absolute;
    width: 40%;
    height: auto;
    overflow: hidden;
  }

  /* product cart section */
  .cartContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1440px;
    place-content: center;
  }

  .cartItem {
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
  }

  .lastCart{
    display:none ;
  }

  .stars-and-ratings {
    display: flex;
    flex-direction: column;
  }
}



